.gopher-gallery {
    display: flex;
}

.gopher-container {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.gopher-figure {
    position: relative;
    overflow: hidden;
    user-select: none;
    width: inherit;
    height: inherit;    
}

.gopher-figure > * {
    position: absolute;
    user-select: none;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center bottom;
}

.gopher-operation {
    position: absolute;
    top: 0; left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.1s ease-in;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.gopher-operation:hover{
    opacity: 1;
}

/* .gopher-operation button{
	border: 0;
	padding: 0;
	outline: 0;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
	font-weight: normal;
	font-style: normal;
	user-select: none;
}

.gopher-operation button{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid black;
} */